.login-page{
    height: 100%!important;
    margin: 0;
    background: #f0f8ff;
    box-shadow: inset 1px 0 20px 7px #556b2f;
    padding: 20px;
}

.img-size{
    max-width: 20%;
    height: auto;
    margin-left: 525px;
}
.header-img-size{
    max-width: 9%;
    height: auto;
    /* margin-left: 525px; */
}

.login-box{
    box-shadow: 2px 1px 12px 7px #8fbc8f;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-left: 10px solid;
}